.hide {
  display: none;
}
.car {
  width: 52px;
  height: 100px;
  background: transparent url("../image/playerNew.png") center/cover no-repeat;
  position: absolute;
  left: calc(150px - 26px);
  bottom: 10px;
}
.gameArea {
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  background: #222;
  overflow: hidden;
}
body,
html,
.game {
  height: 100%;
}
.line {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 50px;
  left: 145px;
}
