body,
html,
.game {
  height: 100%;
}
.car {
  position: absolute;
  width: 52px;
  height: 100px;
}
.car.player {
  left: calc(150px - 26px);
  bottom: 10px;
  background: transparent url("../image/playerNew.png") center/cover no-repeat;
}
.car.enemy {
  left: calc(150px - 26px);
  bottom: 10px;
  background: transparent url("../image/enemyNew1.png") center/cover no-repeat;
}
.car.enemy.enemyDPS {
  background: transparent url("../image/enemyNew1.png") center/cover no-repeat;
}
.car.enemy.enemyTank {
  background: transparent url("../image/enemyNew2.png") center/cover no-repeat;
}
.start {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  line-height: 1.5;
  z-index: 2;
  background: #2a2a5d;
  width: 20%;
  color: #fff;
  max-width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  font-size: 30px;
  padding: 30px;
  text-align: center;
  transition: 0.2s all linear;
  cursor: pointer;
}
.start:hover {
  box-shadow: none;
  transform: translate(-50%, calc(-50% + 3px));
}
.start.hide {
  display: none;
}
.gameArea {
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  background: #222;
  overflow: hidden;
}
.line {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 50px;
  left: 145px;
}
